body {
    background-color: cadetblue;
    color: aliceblue;
    width: 500px;
    margin: 0 auto;
}
button {
    padding: 5px 20px;
    background-color: darkgreen;
    border-style: none;
    color: aliceblue;
}
input {
    height: 20px;
}